*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
}

Col{
    position: absolute;
    flex: 1;
}